@model CarViewModel

<table class="table table-secondary table-striped table-hover">
    <thead>
    <tr>
        <th scope="col">Marka Adı</th>
        <th scope="col">Model Adı</th>
        <th scope="col">Yıl</th>
        <th scope="col">Yakıt Tipi</th>
        <th scope="col">Fiyat</th>
        <th scope="col">Vites Tipi</th>
        <th scope="col">Renk</th>
    
    </tr>
    </thead>
    <tbody>
    
    @foreach(Car car in Model.Cars)
    {
        <tr>
            <th scope="row">@car.Brand</th>
            <td>@car.ModelName</td>
            <td>@car.Year</td>
            <td>@car.FuelType</td>
            <td>@car.Price</td>
            <td>@car.Transmission</td>
            <td>@car.Color</td>
        </tr>
    }
    </tbody>
</table>


<div class="alert alert-success" role="alert">
    Bu sayfadaki araçların fiyatlarının toplamı : @Model.Toplam
</div>

<div class="alert alert-primary" role="alert">
    Bu sayfadaki araçların fiyatlarının ortalaması : @Model.Ortalama
</div>